/* Global */

/*Fonts*/

@font-face {
  font-family: "Galada";
  src: url("./styles/fonts/Galada/Galada-Regular.eot");
  src: local("./styles/fonts/Galada/Galada Regular"),
    local("./styles/fonts/Galada/Galada-Regular"),
    url("./styles/fonts/Galada/Galada-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./styles/fonts/Galada/Galada-Regular.woff2") format("woff2"),
    url("./styles/fonts/Galada/Galada-Regular.woff") format("woff"),
    url("./styles/fonts/Galada/Galada-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("./styles/fonts/Lobster/Lobster-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lobster", "Galada", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
}

/* Custom Classes */
