/* Global */

/*Fonts*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/* body {
  font-family: 
  Spectral, Sansita, Rubik,   Rosario,
   "Segoe UI",
    Pacifico,
   Petrona, 
   Nunito,
    Noto Sans, Montaga, Merge One, Marcellus, Lobster Two, Tahoma, sans-serif;
} */

/* Custom Classes */
